<div id="footer">
    <div class="row">
        <div class="col-12">
            <section class="contact">
                <header><h3>Missing anything?</h3></header>
                <p>You can also find my profiles here:</p>
                <ul class="icons">
                    <li><a href="https://www.researchgate.net/profile/Philipp-Otto-2" class="icon brands fa-researchgate" aria-label="ResearchGate"><span class="label">ResearchGate</span></a></li>
                    <li><a href="https://www.instagram.com/stats.o.phil.e/" class="icon brands fa-instagram" aria-label="Instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="https://www.linkedin.com/in/philipp-otto-0a9887264/" class="icon brands fa-linkedin" aria-label="LinkedIn"><span class="label">LinkedIn</span></a></li>
                    <li><a href="https://www.xing.com/profile/Philipp_Otto8/cv" class="icon brands fa-xing" aria-label="Xing"><span class="label">Xing</span></a></li>
                    <li><a href="https://twitter.com/PhilOt5" class="icon brands fa-twitter" aria-label="Twitter"><span class="label">Twitter</span></a></li>
                </ul>
            </section>

            <div class="copyright">
                <ul class="menu">
                    <li>&copy; {{ site.time | date: "%Y" }} Philipp Otto.</li>
                    <li>Design adapted from <a href="https://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
